<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signupModal">Sign Up!
</button>

<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="container login">
    <div class="container"> 

      <form class="form-signin" method="post" action="/users">
        <h2 class="form-signin-heading">Create an Account!</h2>

        <label for="inputName" class="sr-only">Name</label>
        <input name="name" type="text" id="inputName" class="form-control" placeholder="Name" required>

        <label for="inputUserName" class="sr-only">Username</label>
        <input name="username" type="text" id="inputUserName" class="form-control" placeholder="Username" required>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" data-dismiss="modal">Cancel</button>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
      </form>
    </div>
  </div>
</div>