
<!DOCTYPE html>
<html class="full" lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/cover.css">
  <title></title>
</head>
<body>

    <%= yield %>



  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
  <script src="/syntaxhighlighter_3.0.83/scripts/shBrushRuby.js"></script>
  <script type="text/javascript">SyntaxHighlighter.all();</script>
  <script src="/js/holder.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>