<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <a href="/"><h3 class="masthead-brand">CodeVault</h3></a>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="/posts">Check it Out!</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Welcome to CodeVault.</h1>
        <p class="lead">Found some ninja code online you want to save? Or maybe you want to write your own? CodeVault allows you to store your favorite bits of code and keep it to yourself or share it with whomever you like!</p>
        
          <%= erb :_loginModal, :layout => false %>          

          <%= erb :_signupModal, :layout => false %>      
      
      </div>
    </div>

  </div>
</div>